---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import TextEditor from "../components/TextEditor";
import { Toaster } from "@/components/ui/sonner";
---

<Layout title="Editor de Texto">
  <main class="h-screen w-screen overflow-hidden">
    <TextEditor client:load />
    <Toaster client:load />
  </main>
</Layout>
